/* --------------This file is responsible for style of my website.
---------------------Dev: Nafiu --------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
}

/* header section */

header {
  background-color: #2d25a0;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* navbar section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 156px 77px;
}
.nav-menu {
  display: flex;
  gap: 35px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul > li > a {
  text-decoration: none;
  color: #ffffff;
}
.navbar ul > li > a:hover {
  color: #ff8251;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.nav-item,
.login-btn {
  font-size: 20px;
  color: #fff;
}
.login-btn {
  background-color: #e02c6d;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.login-btn:hover {
  background-color: #ff8251;
  transform: scale(1.1);
}
.login-text {
  margin-left: 10px;
}

/* banner section */

.banner {
  display: flex;
  padding: 10px 156px 124px;
  justify-content: space-between;
  align-items: center;
}
.banner-cta {
  width: 50%;
}
.banner-cta h1 {
  font-size: 105px;
  font-weight: 700;
  line-height: 126px;
  margin-bottom: 20px;
}
.cta-btn,
.highlight-btn {
  width: fit-content;
  background-color: #e02c6d;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  font-size: 20px;
  color: #ffffff;
}
.cta-btn:hover,
.highlight-btn:hover {
  background-color: #ff8251;
  transform: scale(1.1);
}
.cta-btn a,
.highlight-btn a {
  text-decoration: none;
  color: #ffffff;
}
.cta-btn-text span,
.highlight-btn-text span {
  margin-right: 10px;
}
.banner-img img {
  width: 673.01px;
  height: 555px;
}

/* banner image animation */
.banner-img img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* ----------Players section----------
------------------------------------ */
.top-players {
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;
  margin-top: 65px;
}
.champion {
  overflow: hidden;
  /* width: fit-content; */
  padding: 15px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.champion img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.champion img:hover {
  transform: scale(1.06);
  cursor: pointer;
}
.champion h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.champion p {
  margin-bottom: 10px;
}

/* Highlights section */

.highlights {
  display: flex;
  width: 1440px;
  margin-top: 6%;
  justify-content: space-between;
  align-items: center;
}
.highlight-cta {
  width: 50%;
  padding-right: 50px;
}
.highlight-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.highlight-text {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px; /* 175% */
  padding-top: 10px;
  padding-bottom: 20px;
}
.highlight-photo img {
  width: 567px;
  height: 427px;
}

/* footer area */

.main-footer {
  display: flex;
  flex-direction: column;
  margin-top: 95px;
  padding: 30px;
  align-items: center;
}
.footer-logo img {
  width: 450px;
  height: 124px;
}
.footer-social {
  margin-bottom: 15px;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-items {
  list-style: none;
}
.fa-brands,
.fab {
  background-color: #d5c9c9;
  color: #5f5151;
  padding: 8px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
.fa-brands:hover {
  background-color: #eee8e8;
  color: #202020;
  transform: scale(1.1);
}

/* ----------media queries----------
------------------------------------ */
/* mobile devices */

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 18px;
  }
  .nav-menu {
    gap: 0;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }
  .nav-item:hover {
    background-color: rgb(227, 242, 247);
  }
  .navbar ul > li > a {
    text-decoration: none;
    color: #000000;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* banner responsiveness */
  .banner {
    flex-direction: column;
    padding: 0 18px;
    align-items: normal;
  }
  .banner-cta {
    width: 90%;
  }
  .banner-cta h1 {
    font-size: 41px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .banner-img img {
    width: 100%;
    height: auto;
    margin-top: 43px;
  }
  .cta-btn {
    padding: 10px;
  }

  /* player responsiveness */
  .top-players {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .highlights {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .highlight-cta {
    width: 100%;
    padding: 15px;
  }
  .highlight-photo img {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  .highlight-title {
    font-size: 36px;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-logo img {
    width: 70%;
    height: auto;
  }
}

/* Tab Devices */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 18px;
  }
  .nav-menu {
    gap: 0;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }
  .nav-item:hover {
    background-color: rgb(227, 242, 247);
  }
  .navbar ul > li > a {
    text-decoration: none;
    color: #000000;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .banner {
    flex-direction: column;
    padding: 10px;
    align-items: start;
  }
  .banner-cta {
    width: 100%;
    padding: 10px;
  }
  .banner-cta h1 {
    font-size: 96px;
  }
  .banner-img img {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 74px;
  }
  .top-players {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .highlights {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .highlight-cta {
    width: 100%;
    padding: 10px;
  }
  .highlight-photo img {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) and (orientation: landscape) {
  .navbar {
    padding: 15px;
  }
  .banner {
    padding: 20px;
    margin-top: 50px;
  }
  .banner-cta h1 {
    font-size: 60px;
  }
  .banner-cta {
    width: 100%;
  }
  .banner-img img {
    width: 100%;
    height: auto;
  }
  .top-players {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .highlights {
    width: 100%;
    padding: 30px;
  }
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {
  .navbar {
    padding: 15px;
  }
  .banner {
    padding: 20px;
    margin-top: 50px;
  }
  .banner-cta h1 {
    font-size: 60px;
  }
  .banner-cta {
    width: 100%;
  }
  .banner-img img {
    width: 100%;
    height: auto;
  }
  .top-players {
    width: 100%;
  }
  .highlights {
    width: 100%;
    padding: 30px;
  }
}
